:root {
	--primary-color: black;
	--secondary-color: #0465DF;
    --img-background: #0465DF; 
}

* {
	/*     margin: 0%; */
	box-sizing: border-box;
}

body {
    background-color: #C6CDEE;
	margin: 0;
	display: flex;
	flex-direction: row;
	font-family: "Poppins", sans-serif;
}

.card header {
    position: absolute;
    top: 70%;
    background-color: var(--img-background);
}

nav {
	padding: 8px 0;
	background-color: var(--secondary-color);
}

nav ul {
	display: flex;
/* 	flex-wrap: wrap; */
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	padding: 0;
}

nav ul li a {
	background: var(--secondary-color);
	color: var(--primary-color);
	text-shadow: none;
	text-decoration: none;
	text-size-adjust: 34;
}

.content { 
display: flex;
margin-bottom: 1rem;
}

.primary-content {
	color: var(--secondary-color);
    font-size: 3rem;
    width: 14rem;
    padding-left: 20px;
    border-left: var(--primary-color);
    text-align: right;
    margin-right: 64px;
}

.secondary-content {
    flex: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    font-size: x-large;
    border-left: 3px solid var(--secondary-color, white);
    color: var(--secondary-color);
}

.secondary-text {

}

.card {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    position: relative;
  }

  .card-main {
    flex: 2;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    position: relative;
  }

button {
	align-items: center;
	border: 0ch;
	padding-top: 5px;
	transition-duration: 0.2s;
	cursor: pointer;
	text-decoration: none;
	background-color: var(--img-background, white);
	border: black solid;
    flex: 1 0 0;
}

button header {
	padding: 10px;
	color: var(--primary-color, black);
	font-size: large;
}

.primary-img {
    max-width: 1500;
	min-width: 400px;
    width: 100%;
}

.secondary-img {
    max-width: 700px;
	min-width: 400px;
    width: 100%;
}

button header {
    position: relative;
    top: 0;
    left: 0;
}

button:hover {
	opacity: 85%;
}

@media only screen and (max-width: 576px) {
	.content {
		display: block;
	}
    .secondary-content {
		border-right: none;
		width: unset;
        padding-top: 15px;
        border-top: 3px solid var(--secondary-color);
        padding-left: 5px;
        border-left: 0;
	}
    .primary-content {
        text-align: center;
        margin: 0;
        max-width: none;
        padding: 0;
        width: auto;
    }
}